* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {

    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation sytle  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
    margin-bottom: 200px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.org-button {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.text-primary {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner style */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;

}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 5px;


}

.banner-discription {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

}

/* main section  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About me style */
.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.sec-title {
    
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.sec-discription {
   
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* about info style */
.about-info-box{
  display: flex;
  justify-content: space-around;
}
.about-info{

}
.info-title{
    font-weight: 400;
font-size: 20px;
color: #757575;
}
.info-discription{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}